.bg-forecast {
  position: absolute;
  width: 100vw;
  height: 100%;
  transition: background 250ms linear;
}

.w-0 {
  background: linear-gradient(135deg, rgba(226, 244, 254, 1) 50%, rgba(254, 214, 108, 1) 100%);
}

.wp-10 {
  background: linear-gradient(135deg, rgba(156, 221, 253, 1) 50%, rgba(255, 214, 108, 1) 100%);
}

.wp-20 {
  background: linear-gradient(135deg, rgba(156, 221, 253, 1) 50%, rgba(255, 214, 108, 1) 100%);
}

.wp-30 {
  background: linear-gradient(135deg, rgba(255, 214, 108, 1) 50%, rgba(156, 221, 253, 1) 100%);
}

.wm-10 {
  background: linear-gradient(135deg, rgba(23, 156, 231, 1) 50%, rgba(156, 221, 253, 1) 100%);
}

.wm-20 {
  background: linear-gradient(135deg, rgba(13, 60, 138, 1) 50%, rgba(23, 156, 231, 1) 100%);
}

.wm-30 {
  background-color: rgba(13, 60, 138, 1);
}
